.back-button {
  position: absolute;
  top: 42.05px;
  left: 22.86px;
  background-color: transparent;
  background-image: url(../../images/back-button.svg);
  height: 22px;
  background-repeat: no-repeat;
  color: transparent;
  border: 0;
}