.field__button-password {
  margin-right: 9px;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 200px;
  background-image: url("../../../images/edit-password.svg");
  background-repeat: no-repeat;
  background-position: 100%;
}