.navigation__button-background_type_postiton {
  margin: 3px 10px 0 10px;
  position: absolute;
  width: 183px;
  height: 30px;
  object-fit: cover;
  border-radius: 12px;
  left: 0px;
  transition: all 0.2s ease-in;
}